.lineGraph {
  height: 100%;
  width: 100%;
  max-height: 30vh;
  max-width: 300px;
}

@media only screen and (max-width: 1024px) {
  .lineGraph {
    margin: 10px 0 30px 0;
    height: 100%;
    width: 100%;
    max-height: 300px;
    max-width: 99%;
  }
}
